<!-- Código realizado por CGA -->
<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/imgs/codoacodo.png" type="image/x-icon">
    <title>Codo a Codo - Trabajo Integrador Front-End - Arone</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/index.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-secondary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/imgs/codoacodo.png" alt="Codo a Codo">Conf Bs As
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-end" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../index.html#carouselExampleRide">La
                                Conferencia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#secOradores">Los oradores principales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html#secLugar">El lugar y la fecha</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/orador.html">Conviértete en orador</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/listadoOradores.html">Listado de Oradores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link colorGreen" href="../views/comprarTickets.html">Comprar tickets</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <!-- cec -->
        <section id="cec">
            <div class="container-fluid mx-0 px-0 my-1">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img class="bs-as" src="../assets/imgs/cec.jpg" alt="CEC">
                    </div>
                    <div class="col-md-6 p-4 text-white bg-body-secondary" data-bs-theme="dark">
                        <h1 class="text-center">Centro de Convenciones Buenos Aires</h1>
                        <div class="m-4">
                            <p>El Centro de Convenciones Buenos Aires se consolidó como locación para producciones
                                audiovisuales y sesiones fotográficas de diversa índole: películas y series,
                                espectáculos en
                                tiempo real, publicidad.<br>
                                CEC Studio es una propuesta que supera las expectativas de la industria audiovisual.
                                Ofreciéndole al público un espacio con las siguientes características destacadas para
                                sus
                                producciones:
                            <ul>
                                <li>Espacios con luz natural,</li>
                                <li>diferentes accesos,</li>
                                <li>sector al aire libre,</li>
                                <li>área de catering,</li>
                                <li>cocheras de cortesía,</li>
                                <li>salas de producción.</li>
                            </ul>
                            </p>
                        </div>
                    </div>
        </section>
        <!-- Contacto -->
        <section id="direccion">
            <div class="container-fluid mx-0 px-0 my-1">
                <div class="row g-0">
                    <div class="col-md-6 p-4 text-white bg-body-secondary" data-bs-theme="dark">
                        <h2 class="text-center">Datos de contacto</h2>
                        <div class="mx-4">
                            <h4 class="my-3">Dirección</h4>
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="../assets/imgs/dirección.png">
                                </div>
                                <div class="col-md-10">
                                    <p class="mx-custom-3">Av. Figueroa Alcorta 2099 - CABA
                                        <br>(Ingreso peatonal por Plaza Brasil)
                                    </p>
                                </div>
                            </div>
                            <div>
                                <h4 class="my-3">Contacto</h4>
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="../assets/imgs/telefono.png">
                                    </div>
                                    <div class="col-md-10">
                                        <p class="mx-custom-3">
                                           +54 11 5295-8300 <br>
                                           +54 9 11-5803-3606
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="../assets/imgs/mail.png">
                                    </div>
                                    <div class="col-md-10">
                                        <p class="mx-custom-3">comunicaciones@cecbuenosaires.com.ar</p>
                                    </div>
                                </div>
                            </div>
                            <h4 class="my-3">Cómo llegar</h4>
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="../assets/imgs/bus.png">
                                </div>
                                <div class="col-md-10">
                                    <p class="mx-custom-3">
                                        Líneas de colectivos: 17, 33, 67, 93, 102, 124, 130
                                    </p>
                                </div>
                                <div class="col-md-2">
                                    <img src="../assets/imgs/subway.png">
                                </div>
                                <div class="col-md-10">
                                    <p class="mx-custom-3">Subte: Facultad de Derecho, Línea H.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="custom_html-3" class="col-md-6 p-1">
                        <div class="d-block w-100 h-100">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.7891965689746!2d-58.39242968519592!3d-34.58420016397184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaa16848544b%3A0x89e29d40eae89d2d!2sAv.%20Pres.%20Figueroa%20Alcorta%202099%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1649876302259!5m2!1ses-419!2sar"
                                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
        </section>
        <!-- Hospedaje -->
        <section id="hospedaje">
            <div>
                <p class="text-muted text-uppercase text-center subtittle my-2">conoce los</p>
                <h1 class="text-uppercase text-center mb-3">hospedajes</h1>
            </div>
            <div class="oradores container-fluid container-xs container-sm container-md container-lg">
                <div class="row row-cols-1">
                    <!-- Gama Alta -->
                    <div class="col-xs-12 col-sm-12 col-md-4 mb-2">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="card-title text-center">Gama Alta</h3>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <b>NH Crillon - NH Lancaster & NH Jousten</b> con desayuno incluido en hab single dbl
                                        U$S 165 + IVA utilizando el código de descuento "Conf-BsAs"
                                    </li>
                                    <li class="list-group-item">
                                        <b>Hotel Hub Porteño</b>, ubicado a 4 cuadras del CEC, Habitaciones de aprox U$S 100
                                    </li>
                                    <li class="list-group-item">
                                        <b>CARLES Hotel Buenos Aires</b>, Ubicado a 10 cuadras del CEC, Habitaciones desde U$S
                                        100
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Gama Media -->
                    <div class="col-xs-12 col-sm-12 col-md-4 mb-2">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="card-title text-center">Gama Media</h3>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <b>Up Recoleta Hotel</b>, Ubicado a 5 cuadras del CEC, Habitaciones desde U$S 70
                                    </li>
                                    <li class="list-group-item">
                                    <b>Hotel Arenales</b>, Ubicado a 10 Cuadras del CEC, Habitaciones desde U$S 60
                                    </li>
                                    <li class="list-group-item">
                                    <b>Design Ce Hotel De Diseño</b>, Ubicado a 15 cuadras del CEC,Habitaciones desde
                                        U$S 65
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Hostels -->
                    <div class="col-xs-12 col-sm-12 col-md-4 mb-2">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="card-title text-center">Hostels</h3>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                    <b>Che Juan Hostel Ba</b>, Ubicado a 2km, lugares desde U$S 30
                                    </li>
                                    <li class="list-group-item">
                                    <b>Hostel Art Factory Soho</b>, Ubicado en palermo a 2.5km del CEC, Habitaciones
                                        desde U$S 30
                                    </li>
                                    <li class="list-group-item">
                                    <b>Viajero Hostel Buenos Aires</b>, Ubicado en palermo a 2.5km del CEC,
                                        Habitaciones desde U$S 25
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- info gral -->
        <section id="información general">
            <div class="container-fluid mx-0 px-0 my-1 pt-4">
                <h1 class="text-uppercase text-center">información general</h1>
                <div class="m-4 p-2">
                    <p>
                        Les recomendamos gestionar la reserva mediante plataformas tales como Despegar, Booking o
                        Almundo ya
                        que estas suelen tener ofertas para todo tipo de hospedaje y resulta ser más conveniente que
                        reservando mediante el mismo hotel.
                        <br>
                        Transporte en la Ciudad Autónoma de Buenos Aires: la ciudad
                        posee una amplia variedad de métodos de transporte tales como Bus, Subterráneo y trenes. Es
                        importante contemplar que para abordar estos transportes deberán conseguir la Tarjeta SUBE ya
                        que
                        este es el método de pago. Esta tarjeta se puede conseguir en la estación Retiro de trenes. Los
                        boletos de estos transportes rondan entre los 30$ y 80$ Pesos Argentinos.
                        <br>
                        Para movilizarse y ubicarse en la ciudad recomendamos utilizar Google Maps, BA - Cómo llego o
                        Moovit. Las mismas permiten marcar las rutas de los distintos transportes y las indicaciones
                        para
                        llegar a destino.
                        <br>
                        En Buenos Aires también funcionan aplicaciones de transporte privado como Uber, Cabify o Didi.
                        El
                        Taxi también es muy común y fácil de abordar en cualquier avenida.
                    </p>
                </div>
            </div>
        </section>
        <!-- Lugares de interés -->
        <section id="lugInt">
            <div class="container-fluid m-0 px-0">
                <h1 class="text-uppercase text-center m-0 p-4 text-white bg-body-secondary" data-bs-theme="dark">Lugares
                    de Interés</h1>
                <div class="mx-0 p-4 text-white bg-body-secondary" data-bs-theme="dark">
                    <ul>
                        <a>En las inmediaciones del CEC hay un predio con locales gastronómicos como Starbucks, Ache,
                            etc.</a>
                        <li><a href="https://www.bellasartes.gob.ar/">Museo Nacional de Bellas Artes</a></li>
                        <li><a href="https://www.malba.org.ar/">Museo de Arte Latinoamericano de Buenos Aires MALBA</a>
                        </li>
                        <li><a href="http://www.centroculturalrecoleta.org/">Centro Cultural Recoleta</a></li>
                        <li><a href="https://palaisdeglace.cultura.gob.ar/">Palais de Glace| Palacio Nacional de las
                                Artes</a></li>
                        <li><a href="https://museoartedecorativo.cultura.gob.ar/">Museo Nacional de Arte Decorativo</a>
                        </li>
                        <li><a href="https://www.bn.gov.ar/">Biblioteca Nacional</li>
                        <li><a href="https://www.instagram.com/patiobullrich/">Patio Bullrich (Shopping / Patio de
                                comidas)</a></li>
                        <li><a href="https://turismo.buenosaires.gob.ar/es/otros-establecimientos/plaza-francia">Plaza
                                Francia</a></li>
                        <li><a href="https://www.instagram.com/recoletaurbanmall/?hl=es">Recoleta Urban Mall (Shopping /
                                Patio de comidas)</a></li>
                    </ul>
                </div>
            </div>

        </section>
    </main>

    <!-- Footer -->
    <footer class="ft-custom-gradient navbar-expand-md">
        <div class="container-fluid text-center ms-auto mb-2 mb-lg-0 footer-container">
            <ul class="navbar-nav justify-content-center mb-lg-0 mx-custom-2 d-flex align-items-center">
                <li class="nav-item mx-2 px-2">
                    <a href="#" class="nav-link text-white">Preguntas frecuentes</a>
                </li>
                <li class="nav-item mx-2 px-2">
                    <a href="#" class="nav-link text-white">Contáctanos</a>
                </li>
                <li class="nav-item mx-2 px-2">
                    <a href="#" class="nav-link text-white">Prensa</a>
                </li>
                <li class="nav-item mx-2 px-2">
                    <a href="#" class="nav-link text-white">Conferencias</a>
                </li>
                <li class="nav-item mx-2 px-2">
                    <a href="#" class="nav-link text-white">Términos y condiciones</a>
                </li>
                <li class="nav-item mx-2 px-2">
                    <a href="#" class="nav-link text-white">Privacidad</a>
                </li>
                <li class="nav-item mx-2 px-2">
                    <a href="#" class="nav-link text-white">Estudiantes</a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>