<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <!--nuevo-->
    <fieldset>
        <legend>Nuevo Orador</legend>
        <input name="nombre" id="nombre" value="carlos">
        <input name="apellido" id="apellido" value="perez">
        <input name="email" id="email" value="mail@mail.com">  
        <input name="tema" id="tema" value="java">
        <button type="button" id="btnCrear">
            Enviar
        </button>
    </fieldset>

    <div class="container">
        <div class="row">
            <div class="col-12 mt-2">
                <button class="btn btn-success" id="btnGetUsers">
                    Listar Oradores
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-1" id="msj">

            </div>
            <div class="col-12">
                <div id="users">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Email</th>
                            <th scope="col">Tema</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody id="usersRows">                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="nombreActualizar">
                <input id="apellidoActualizar">
                <input id="mailActualizar"> 
                <input id="temaActualizar">
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCerrarModal">
                Cancelar
            </button>
            <button type="button" class="btn btn-primary" onclick="actualizarOrador()">
                Actualizar
            </button>
            </div>
        </div>
        </div>
    </div>

    <!-- nuevo-->
    <script>
        crearOperador = () => {
            const orador = {
                 nombre:  document.getElementById("nombre").value,
                 apellido: document.getElementById("apellido").value,
                 email: document.getElementById("email").value,
                 tema: document.getElementById("tema").value
            };

            //debo enviar estos datos al sevidor: https://www.freecodecamp.org/espanol/news/tutorial-de-fetch-api-en-javascript-con-ejemplos-de-js-fetch-post-y-header/
            fetch(`http://localhost:8080/web-app-23544/api/orador`, {
                method: "POST",
                body: JSON.stringify(orador),
            })
            .then(response => response.json()) 
            .then(json => {
                alert(`alta de orador id:${json.id}] ok`);
            })
            .catch(err => console.log(err));
        }

        document.getElementById("btnCrear").addEventListener('click',crearOperador);
    </script>
    
    <!--listado-->
    <script>
        
        function listarOradores() {/*f2*/
            //1 preparar
            const respuesta = fetch(`http://localhost:8080/web-app-23544/api/orador`);

            //2 invocar
            respuesta
                .then(response => response.json())
                .then(data => procesarListado(data))//fulfilled
                .catch(error => dibujarError(error))//rejected
        }       

        function procesarListado(data) {

            //guardo en localStorage
            saveOradoresInFromLocal('oradores', data);

            const listarOradores = data;
            let rows = '';
            for(let orador of listarOradores) {
                console.log(orador);
                rows += `
                <tr>
                    <th scope="row">${orador.id}</th>
                    <td>${orador.nombre}</td>
                    <td>${orador.apellido}</td>
                    <td>${orador.mail}</td>
                    <td>${orador.tema}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="editar(${orador.id})">
                            Editar
                        </button>
                        <button onclick="eliminarOrador(${orador.id}) type="button" class="btn btn-danger">
                            Eliminar
                        </button>
                    </td>
                </tr>
                `
            }
            document.getElementById('usersRows').innerHTML = rows;
        }

        function dibujarError(error) {
            console.log(error);
            const alerta = `<div class="alert alert-danger" role="alert">
                ${error.toString()}
            </div>`;
            document.getElementById('msj').innerHTML = alerta;
        }

        document.getElementById('btnGetUsers').addEventListener('click',listarOradores);
    </script>

    <!--eliminar-->
    <script>
        eliminarOrador = (id) => {
            if(!confirm('SEGURO?')) {
                return;
            }

            fetch(`http://localhost:8080/web-app-23544/api/orador?id=${id}`, {
                method: "DELETE",
            })
            .then(response => response) 
            .then(json => {
                alert(`se ha eliminado el orador id: ${id}`);
                listarOradores();
            })
            .catch(err => console.log(err));
        }
    </script>

    <!--actualizar-->
    <script>
        const getOradoresFromLocal = () => {
            const oradores = localStorage.getItem('oradores')
            if(oradores) {
                return JSON.parse(oradores);
            }
            return [];
        }
        const getOradorSeleccionado = () => {
            const obj = localStorage.getItem('oradorBuscado')
            if(obj) {
                return JSON.parse(obj);
            }
            return null;
        }
        const removeOradorSeleccionado = () => {
            localStorage.removeItem('oradorBuscado');
        }

        const saveOradoresInFromLocal = (key, data) => {
            localStorage.setItem(key, JSON.stringify(data));//como texto
        }

        const editar = (id) => {
            const oradores = getOradoresFromLocal();//[]
            const oradorBuscado = oradores.find(o => o.id === id);
            
            //si quiero actualizar algo en un html (.innerHTML o .value)
            document.getElementById('nombreActualizar').value = oradorBuscado.nombre;
            document.getElementById('apellidoActualizar').value = oradorBuscado.apellido;
            document.getElementById('mailActualizar').value = oradorBuscado.mail;
            document.getElementById('temaActualizar').value = oradorBuscado.tema;

            //guardo el id/orador del orador que se quiere actualizar
            saveOradoresInFromLocal('oradorBuscado', oradorBuscado);
        }

        const actualizarOrador = () => {
            const oradorSeleccionado = getOradorSeleccionado();
            if(!oradorSeleccionado) {
                return
            }

            //obtengo los datos del formulario que esta en el modal
            const nombre = document.getElementById('nombreActualizar').value;
            const apellido = document.getElementById('apellidoActualizar').value;
            const email = document.getElementById('mailActualizar').value;
            const tema = document.getElementById('temaActualizar').value;

            const orador = {
                 nombre,
                 apellido,
                 email,
                 tema,
            };

            //ahora puedo enviar al backend para actualizar
            //debo enviar estos datos al sevidor: https://www.freecodecamp.org/espanol/news/tutorial-de-fetch-api-en-javascript-con-ejemplos-de-js-fetch-post-y-header/
            fetch(`http://localhost:8080/web-app-23544/api/orador?id=${oradorSeleccionado.id}`, {
                method: "PUT",
                body: JSON.stringify(orador),
            })
            .then(response => response) //status code 200
            .then(json => {
                alert(`Se ha modificado el orador id:${oradorSeleccionado.id}`);
                //cargar la lista 
                listarOradores();
                removeOradorSeleccionado();
                cerrarModal();
            })
            .catch(err => console.log(err));
        }
        const cerrarModal = () => {
            document.getElementById('btnCerrarModal').click();
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
