/*Código realizado por CGA*/

/*Colores tomados de la foto final del trabajo*/
:root {
    --nv-color-green:#289d43;
    --car-btn-green: #28a745;
    --cards-JS: #fec106;
    --cards-react: #16a2b9;
    --cards-negocios: #6c757c;
    --cards-startups: #dd3543;
    --btn-enviar: #96c93e;
    --ft-gradient-start: #1c3846;
    --ft-gradient-end: #1f5271;
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    padding-left: 7vw;
    padding-right: 6vw;
}

.navbar-brand img {
    width: 100px;
}

#navbarCollapse ul li a.colorGreen{
    color: var(--nv-color-green)
}

.carousel-inner { 
    height: 80vh;
    margin: 0 auto;
 }

 .carousel-item  { 
    height: 100%;
    margin: 0 auto;
    display: none;
    transition: 0s !important;
    background: transparent;
 }

 .carousel-img {
    object-fit: cover; 
    filter: brightness(0.5);
    height: 100%;
 }

.btn-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.btn-tickets {
    color: white;
    background-color: var(--car-btn-green);
}

.oradores {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.botones {
    font-weight: 700;
    padding: 0.1vw 0.3vw 0.1vw 0.3vw;
    border-radius: 0.2rem;
    font-size: 1em;
}

.btn-JS {
    background-color: var(--cards-JS);
    border: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.btn-react {
    color: white;
    background-color: var(--cards-react);
    border: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.btn-negocios {
    color: white;
    background-color: var(--cards-negocios);
    border: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.btn-startups {
    color: white;
    background-color: var(--cards-startups);
    border: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.honolulu {
    position: relative;
    width: 100%;
    height: 100%;
}

.mx-custom {
    margin-right: 12rem;
    margin-left: 12rem;
}

.btn-enviar {
    color: white;
    background-color: var(--btn-enviar);
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.mx-custom-2 {
    margin-right: 4rem !important;
    margin-left: 4rem !important
}

.ft-custom-gradient{
    background: var(--ft-gradient-start);
    background: linear-gradient(90deg, var(--ft-gradient-start) 35%, var(--ft-gradient-end) 100%);
}

/* media query */
@media (max-width:767.98px) {
    .mx-custom {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width:768px) and (max-width:991.98px) {
    .mx-custom {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media (min-width:992px) and (max-width:1199.98px) {
    .mx-custom {
        margin-left: 8rem;
        margin-right: 8rem;
    }
}